body {
    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100vw;
}

.designScreen1 {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.designScreen2 {
    height: 100vh;
    width: 100vw;
}

.designScreen3 {
    background-color: rgb(131, 72, 72);

    height: 100vh;
    width: 100vw;
}

.designScreen4 {
    background-color:aqua;
    height: 100vh;
    width: 100vw;
}


/*Diseño pantalla 5 - Selecciona personaje 1*/
.designScreen5 {
    background-color: tomato;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.containerSeleccionarPlayer {
    height: 55em;
    width: 120em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bandera {
    height: 10em;
    width: 100em;
    background-color: red;
}

.selectPlayer {
    height: 30em;
    width: 100em;
    background-color: rosybrown;
}

.stats {
    height: 5em;
    width: 70em;
    background-color: royalblue;
}

.continuar {
    height: 5em;
    width: 10em;
    background-color: seagreen;
}
/*Diseño pantalla 6 - Seleccion personaje 2*/

.designScreen6 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.designScreen7 {
    background-color: white;

    height: 100vh;
    width: 100vw;
}

.designScreen8 {
    background-color: lime;

    height: 100vh;
    width: 100vw;
}

.designScreen9 {
    background-color: red;

    height: 100vh;
    width: 100vw;
}