body {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    width: 100vw;
}

.designScreen1 {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.designScreen2 {
    height: 100vh;
    width: 100vw;
}

.designScreen3 {
    height: 100vh;
    width: 100vw;
}

.designScreen4 {
    background-color:aqua;
    height: 100vh;
    width: 100vw;
}


/*Diseño pantalla 5 - Selecciona personaje 1*/
.designScreen5 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.containerSeleccionarPlayer {
    height: 36em;
    width: 80em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.bandera {
    height: 15em;
    width: 60em;

    display: flex;
    align-items: center;
    justify-content: center;
    color: red
}

.selectPlayer {
    height: 20em;
    width: 75em;
    background-color: #202124;
    display: flex;
    flex-direction: row;
}

.player1 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/ryuSelect.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.player2 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/kenSelect.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.player3 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/chunLiSelect.gif");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.player4 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/guileSelect.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.player5 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/blankaSelect.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.player6 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/eHondaSelect.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

.player7 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/zangiefSelect.gif");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.player8 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/dhalsimSelect.gif");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.playerSelected {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.stats {
    color: red;
    height: 5em;
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.datosPj {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: red;
}
.continuar {
    height: 5em;
    width: 10em;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    cursor: pointer;
}
.divblanco {
    width: 10em;
    height: 5em;
}

.designScreen7 {
    background-color: white;

    height: 100vh;
    width: 100vw;
}

.designScreen8 {
    background-color: lime;

    height: 100vh;
    width: 100vw;
}

.designScreen9 {
    background-color: red;

    height: 100vh;
    width: 100vw;
}