body {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    width: 100vw;
}

.designScreen1 {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.designScreen2 {
    height: 100vh;
    width: 100vw;
}

.designScreen3 {
    height: 100vh;
    width: 100vw;
}

.designScreen4 {
    background-color:aqua;
    height: 100vh;
    width: 100vw;
}


/*Diseño pantalla 5 - Selecciona personaje 1 y 2*/
.designScreen5 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.containerSeleccionarPlayer {
    height: 36em;
    width: 80em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.bandera {
    height: 15em;
    width: 60em;
    margin-bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 26px;
}

.selectPlayer {
    border: 1px solid rgb(121, 54, 54);
    height: 20em;
    width: 75em;
    background-color: #202124;
    display: flex;
    flex-direction: row;
}

.player1 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/ryuSelect.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.player2 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/kenSelect.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.player3 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/chunLiSelect.gif");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.player4 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/guileSelect.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.player5 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/blankaSelect.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.player6 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/eHondaSelect.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

.player7 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/zangiefSelect.gif");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.player8 {
    height: 20em;
    width: 10em;
    background-image: url("../assets/img/dhalsimSelect.gif");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.playerSelected {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.stats {
    color: red;
    height: 5em;
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.datosPj {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: red;
}
.continuar {
    height: 5em;
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    margin-top: 2em;
    cursor: pointer;
}
.divblanco {
    width: 10em;
    height: 5em;
}

/* Diseño preparacion batalla */
.designScreen7 {
    background-color: #202124;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pantallaPresentacionIzq {

    height: 50em;
    width: 25em;
}

#banderaPresentacion1{
    height: 15em;
    width: 25em;
    background-color: red;
}

#presentacionPlayer1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25em;
    height: 35em;
}

.getReady {
    margin-left: 2em;
    margin-right: 2em;
    height: 50em;
    width: 40em;
}

.getReadyUp{
    height: 15em;
    width: 40em;
    background-image: url("../assets/img/get-ready.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.getReadyDown {

    height: 15em;
    width: 40em;
}
.getReadyCent {

    height: 15em;
    width: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    

}
.pantallaPresentacionDer {

    height: 50em;
    width: 25em;
}

#banderaPresentacion2{
    height: 15em;
    width: 25em;
    background-color: red;
}

#presentacionPlayer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25em;
    height: 35em;
}

.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25em;
    height: 35em;
}

.banderaPresent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15em;
    width: 25em;
}

/* Diseño Batalla */
.designScreen8 {
    background-image: url("../assets/img/intro-3.gif");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.statsDisplay {
    background-color: red;
    height: 8em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.battleDisplay {
    background-color: grey;
    height: 47em;
    width: 100vw;
}

.floorDisplay {
    background-color: hotpink;
    height: 4em;
    width: 100vw;
}


.designScreen9 {
    background-color: red;

    height: 100vh;
    width: 100vw;
}